# Arquivos e pastas que não serão enviados
.DS_Store
node_modules/
wp-content/themes/*/script.min.js
wp-content/themes/*/style.css
wp-content/themes/*/style.css.map
wp-content/themes/*/.sass.cache
# 
!wp-content/themes/*/bower_components/*
wp-content/themes/*/bower_components/*
!wp-content/themes/*/bower_components/jquery/
wp-content/themes/*/bower_components/jquery/*
!wp-content/themes/*/bower_components/jquery/dist/
wp-content/themes/*/bower_components/jquery/dist/*
!wp-content/themes/*/bower_components/jquery/dist/jquery.min.js
!wp-content/themes/*/bower_components/jquery-ui/
wp-content/themes/*/bower_components/jquery-ui/*
!wp-content/themes/*/bower_components/jquery-ui/jquery-ui.js
!wp-content/themes/*/bower_components/jquery-ui/themes/
wp-content/themes/*/bower_components/jquery-ui/themes/*
!wp-content/themes/*/bower_components/jquery-ui/themes/base/
wp-content/themes/*/bower_components/jquery-ui/themes/base/*
!wp-content/themes/*/bower_components/jquery-ui/themes/base/jquery-ui.min.css

!wp-content/themes/*/bower_components/bootstrap/
wp-content/themes/*/bower_components/bootstrap/*
!wp-content/themes/*/bower_components/bootstrap/dist/
wp-content/themes/*/bower_components/bootstrap/dist/*
!wp-content/themes/*/bower_components/bootstrap/dist/js/
wp-content/themes/*/bower_components/bootstrap/dist/js/*
!wp-content/themes/*/bower_components/bootstrap/dist/css/
wp-content/themes/*/bower_components/bootstrap/dist/css/*
!wp-content/themes/*/bower_components/bootstrap/dist/js/bootstrap.min.js
!wp-content/themes/*/bower_components/bootstrap/dist/css/bootstrap.min.css

!wp-content/themes/*/bower_components/font-awesome/
wp-content/themes/*/bower_components/font-awesome/*
!wp-content/themes/*/bower_components/font-awesome/js/
wp-content/themes/*/bower_components/font-awesome/js/*
!wp-content/themes/*/bower_components/font-awesome/css/
wp-content/themes/*/bower_components/font-awesome/css/*
!wp-content/themes/*/bower_components/font-awesome/webfonts/
wp-content/themes/*/bower_components/font-awesome/webfonts/*
!wp-content/themes/*/bower_components/font-awesome/js/fontawesome.min.js
!wp-content/themes/*/bower_components/font-awesome/css/fontawesome.min.css
!wp-content/themes/*/bower_components/font-awesome/css/all.min.css
!wp-content/themes/*/bower_components/font-awesome/webfonts/*

!wp-content/themes/*/bower_components/lightgallery/
wp-content/themes/*/bower_components/lightgallery/*
!wp-content/themes/*/bower_components/lightgallery/lib/
wp-content/themes/*/bower_components/lightgallery/lib/*
!wp-content/themes/*/bower_components/lightgallery/lib/jquery.mousewheel.min.js
!wp-content/themes/*/bower_components/lightgallery/lib/picturefill.min.js
!wp-content/themes/*/bower_components/lightgallery/src/
wp-content/themes/*/bower_components/lightgallery/src/*
!wp-content/themes/*/bower_components/lightgallery/src/css/
wp-content/themes/*/bower_components/lightgallery/src/css/*
!wp-content/themes/*/bower_components/lightgallery/src/css/lightgallery.css
!wp-content/themes/*/bower_components/lightgallery/src/fonts/
!wp-content/themes/*/bower_components/lightgallery/dist/
wp-content/themes/*/bower_components/lightgallery/dist/*
!wp-content/themes/*/bower_components/lightgallery/dist/js/
wp-content/themes/*/bower_components/lightgallery/dist/js/*
!wp-content/themes/*/bower_components/lightgallery/dist/js/lightgallery.min.js

!wp-content/themes/*/bower_components/jquery-mask-plugin/
wp-content/themes/*/bower_components/jquery-mask-plugin/*
!wp-content/themes/*/bower_components/jquery-mask-plugin/dist/
wp-content/themes/*/bower_components/jquery-mask-plugin/dist/*
!wp-content/themes/*/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js

!wp-content/themes/*/bower_components/slick-carousel/
wp-content/themes/*/bower_components/slick-carousel/*
!wp-content/themes/*/bower_components/slick-carousel/slick/
wp-content/themes/*/bower_components/slick-carousel/slick/*
!wp-content/themes/*/bower_components/slick-carousel/slick/slick.min.js
!wp-content/themes/*/bower_components/slick-carousel/slick/slick.scss
!wp-content/themes/*/bower_components/slick-carousel/slick/slick-theme.scss