footer{
    position: relative;
    background-color: #252525;
    padding: 50px 0 0;
    color: #fff;
    ul{
    	padding: 0;
    	margin: 0;
    	list-style: none;
        a{
            color: #fff;
            transition: all ease .3s;
            i{
                width: 30px;
            }
            &:hover{
                color: $primarycolor;
            }
        }
    }
    .midias{
        ul{
            text-align: center;
        }
    }
    #copyright{
	    margin-top: 50px;
	    background: $overlaycolor;
	    padding: 10px;
        .copyright-wrapper{
            display: flex;
            -ms-align-items: center;
            align-items: center;
    	    p{
    	    	margin: 0;
                flex: 1;
                &.assinatura{
                    display: flex;
                    text-align: right;
                    justify-content: flex-end;
                    align-items: center;
                    a{
                        color: #fff;
                    }
                    img{
                        max-width: 40px;
                    }
                }
                @media(max-width: $sm){
                    flex: inherit;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    &.assinatura{
                        justify-content: center;
                    }
                }
    	    }
        }
    }
}