// VARIAVEIS
// Colors
$primarycolor 			: var(--primarycolor);
$secondarycolor			: var(--secondarycolor);
$overlaycolor			: var(--overlaycolor);
$requiredcolor			: var(--requiredcolor);
$primaryfontcolor		: var(--primaryfontcolor);
$secondaryfontcolor		: var(--secondaryfontcolor);

// Medias
$xg						: 1399px;
$lg						: 1199px;
$md						: 991px;
$sm						: 767px;
$xs 					: 575px;